<div class="header">
  <h2>Ticket Finder</h2>
  <p>Listos para tu evento favorito</p>
  <div class="search-container">
    <form id="search-form" class="row" action="#" *ngIf="listaEventos" [formGroup]="buscador">
      <input id="search-input" type="text" placeholder="Buscar.." name="search" formControlName="busqueda">
      <button type="submit" (click)="buscar()" [disabled]="!buscador.valid"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>


<div id="myTopnav" class="topnav">
  <a href="javascript:void(0);" class="icon" (click)="displayResponsive()">
    <i class="fa fa-bars"></i>
  </a>
  <a class="active" href="#" routerLink="/home">Inicio</a>
  <a href="#" routerLink="/eventos">Eventos</a>
  <a *ngIf="!administrador && sesionIniciada" href="#" routerLink="/misEventos">Mis eventos</a>
  <a *ngIf="administrador" href="#" routerLink="/admin">Administración</a>
  <a *ngIf="sesionIniciada" href="#" routerLink="#" (click)="cerrarSesion()" style="float:right">Cerrar Sesión</a>
  <a *ngIf="sesionIniciada" href="#" routerLink="#" style="float:right">{{usuarioActual.usuario}}</a>
  <a *ngIf="!sesionIniciada"id="menu_login" href="#" routerLink="/login" style="float: right">Iniciar Sesión</a>
  <a *ngIf="!sesionIniciada" id="menu_register" href="#" routerLink="/registro" style="float:right">Crear cuenta</a>
</div>
