.login {
    background-color: #d1d1d1;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.userLogin {
    width: 80%;
    text-align: center;
    margin-left: 10%;
}


@media screen and (max-width:500px) {
    .userLogin {
        margin-left: 20px;
        width: calc(100% - 40px);
    }
}