<ul class="event-list">
  <li>
    <time datetime="2019-11-12">
      <span class="day">{{dia}}</span>
      <span class="month">{{mes}}</span>
      <span class="year">2019</span>
      <span class="time">20:00 HRS</span>
    </time>
    <img alt="Independence Day" src="https://farm4.staticflickr.com/3100/2693171833_3545fb852c_q.jpg" />
    <div class="info">
      <h2 class="title">{{evento.nombre}}</h2>
      <p class="desc">{{evento.descripcion}}</p>
      <ul>
        <li style="width:33%;"><span class="fa fa-clock"></span>&nbsp;{{evento.hora}} HRS</li>
        <li style="width:34%;"><span class="fa fa-map-marker"></span>&nbsp;{{evento.lugar}}</li>
      </ul>
    </div>
    <div class="social">
      <ul>
        <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fab fa-facebook"></span></a></li>
        <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fab fa-twitter"></span></a></li>
        <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fab fa-google-plus"></span></a>
        </li>
      </ul>
    </div>
  </li>
</ul>

